/* Improvements for 150% zoom */
.main {
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}

/****************************************** Section  Contacts **********************/

.contact__us {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 648px;
  width: 1020px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;;
}

.contact__us__title {
  display: flex;
  justify-content: start;
}

.h2__contact__us__title {
  color: #f0d8d9;
  font-size: 30px;
  font-weight: 900;
  margin: 60px 0 0 40px;
  letter-spacing: -0.3px;
}

.p__contact__us__description {
  color: #f0d8d9;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  text-align: justify;
  margin: 19px 40px 0 40px;
}

.contact__us__form__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 40px;
  height: auto;
}

form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
}

.contact__form {
  position: relative;
  width: 625px;
}

#personName {
  width: 604px;
  height: 38px;
  background-color: #d6564f;
  margin: 44px 0 0 0;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0 0 0 15px;
}

#personName::placeholder {
  color: #f48c8f;
  opacity: 1;
  letter-spacing: -0.07px;
}

#personName:hover,
#personName:focus {
  color: #d6564f;
  background-color: #f0d8d9;
}

#personEmail {
  width: 604px;
  height: 38px;
  background-color: #d6564f;
  margin: 16px 0 0 0;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0 0 0 15px;
}

#personEmail::placeholder {
  color: #f48c8f;
  opacity: 1;
  letter-spacing: -0.07px;
}

#personEmail:hover,
#personEmail:focus {
  color: #d6564f;
  background-color: #f0d8d9;
}

#subject {
  width: 604px;
  height: 38px;
  background-color: #d6564f;
  margin: 16px 0 0 0;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0 0 0 15px;
}

#subject::placeholder {
  color: #f48c8f;
  opacity: 1;
  letter-spacing: -0.05px;
}

#subject:hover,
#subject:focus {
  color: #d6564f;
  background-color: #f0d8d9;
}

#personComment {
  width: 604px;
  height: 195px;
  background-color: #d6564f;
  margin: 15.5px 0 0 0;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  padding: 8px 0 0 15px;
  resize: none;
}

#personComment::placeholder {
  color: #f48c8f;
  opacity: 1;
  letter-spacing: -0.05px;
}

#personComment:hover,
#personComment:focus {
  color: #d6564f;
  background-color: #f0d8d9;
}

#sendButton {
  position: absolute;
  right: -170px;
  bottom: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 150px;
  min-height: 40px;
  background-color: #d6564f;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
}

#sendButton:hover {
  background-color: #f0d8d9;
  color: #d6564f;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact__info__subwrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  margin-left: 11px;
}

.info__subwrapper__title {
  display: flex;
  justify-content: start;
  width: 100%;
}

.h3__info__subwrapper__title {
  margin: 0;
  padding: 0;
  border: 0;
  color: #f0d8d9;
  font-size: 18px;
  font-weight: 900;
  line-height: 0.99;
  margin: 45px 0 0 10px;
  letter-spacing: -0.15px;
  width: 100%;
}

.contact__info__subwrapper__description {
  display: flex;
  width: 100%;
}

.info__subwrapper__paragraph {
  margin: 0;
  padding: 0;
  border: 0;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  height: auto;
  width: 100%;
  margin: 10px 0 0 10px;
  text-align: justify;
}

.location {
  width: 100%;
  margin: 22px 0 0 13px;
}

.location:hover {
  background-color: #fff;
  cursor: pointer;
  color: #d6564f;
}

.location__icon {
  margin: 0;
  padding: 0;
  border: 0;
  width: 7px;
  height: 11px;
}

.location__icon:hover {
  cursor: pointer;
}

.location__address {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 0 0 9px;
  text-align: justify;
  letter-spacing: -0.1px;
}

.location__address:hover {
  background-color: #fff;
  cursor: pointer;
  color: #d6564f;
}

.call__us {
  width: 100%;
  margin: 0px 0 0 11px;
}

.call__us__icon {
  margin: 0;
  padding: 0;
  border: 0;
  width: 11px;
  height: 11px;
}

.call__us__icon:hover {
  cursor: pointer;
}

.call__us__link {
  margin: 0;
  padding: 0;
  border: 0;
  color: #f0d8d9;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 0 0 7px;
  text-align: justify;
  letter-spacing: -0.2px;
}

.email__us {
  width: 100%;
  margin: 0px 0 0 11px;
}

.write__us_icon {
  margin: 0;
  padding: 0;
  border: 0;
  width: 12px;
  height: 8px;
}

.write__us_icon:hover {
  cursor: pointer;
}

.write__us__link {
  margin: 0;
  padding: 0;
  border: 0;
  color: #f0d8d9;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 0 0 6px;
  text-align: justify;
  letter-spacing: 0.05px;
}

/********************************** The end of Section  Contacts *******************/

/********************************************* footer ******************************/

.footer {
  /* height: 76px; */
  /* height: auto; */
  width: 1020px;
  min-height: 76px;
  background-color: #2d303a;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 0 40px 0 40px;
}

.copyright {
  width: 15%;
  font-size: 12px;
  font-weight: 400;
  color: #52586c;
  margin:  19px 0 0 2px;
  letter-spacing: -0.2px;
}

.connect__with__us {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  width: 150px;
  margin:22.85px 1px 0 0;
}

.connect__with__us__item {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
  margin: -0.5px 9px 0px -1px;
}

.footer__weblink {
  margin: 0;
  padding: 0;
  border: 0;
}

.web__icons {
  width: 32px;
  height: 32px;
}

.web__icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}
