/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
    url('./assets/fonts/lato-v16-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/lato-v16-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('./assets/fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url('./assets/fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
    url('./assets/fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 1020px;
  height: auto;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

.logo__container {
  width: 150px;
  height: 100%;
  padding: 18px 0;
}

.logo {
  height: 100%;
}

.logo__description {
  font-weight: 700;
  font-size: 25px;
  line-height: 53px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.4px;
}

.logo__description::after {
  content: "*";
  position: relative;
  top: 0;
  left: 0;
  font-size: 26px;
  color: #df6760;
}

.navigation__container {
  width: 380px;
  height: 100%;
}

.navigation__section {
  height: 100%;
  /*padding: 0 0 0 6px;*/
}

.header__menu__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 8px;
  list-style: none;
}

.header__menu__item {
  height: 100%;
  /*padding: 0 0 0 6px;*/
  padding-top: 19px;
  margin: 0 0 0 2px;
}

.header__menu__item:not(:first-child)::before {
  content: ".";
  position: relative;
  bottom: 3px;
  left: -13px;
  font-weight: 700;
  font-size: 19px;
  color: #3e4252;
}

.header__menu__a {
  color: #ffffff;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  /*line-height: 6.32px;*/
  line-height: 30px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__menu__a:focus {
  color: #df6760;
}

.header__menu__a:hover {
  color: #df6760;
}

/***********************<section class="slider__section">***********************/

.slider__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1020px;
  height: 594px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.invisible__h1 {
  height: auto;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.slider__img_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.previous__slide__arrow__container {
  height: 100%;
  width: 10%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.previous__slide__arrow {
  width: 16px;
  height: 27px;
  background-color: transparent;
  opacity: 0.25;
  background: url("./assets/images/svg/previous__slide__arrow.svg") center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  margin: -5px 0 0 42px;
}

.previous__slide__arrow:hover {
  opacity: 1;
}

.vertical__img__container {
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.vertical__img {
  width: 240px;
  height: 483px;
  background: url("./assets/images/png/iPhone_Vertical.png") center center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: -4px 0 0 10px;
}

.horizontal__img__container {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.horizontal__img {
  width: 484px;
  height: 240px;
  background: url("./assets/images/png/iPhone_Horizontal.png") center center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: -6px 0 0 17px;
}

.next__slide__arrow__container {
  height: 100%;
  width: 10%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.next__slide__arrow {
  width: 16px;
  height: 27px;
  background-color: transparent;
  opacity: 0.25;
  background: url("./assets/images/svg/next__slide__arrow.svg") center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  margin: -4px 0 0 46px;
}

.next__slide__arrow:hover {
  opacity: 1;
}

